docker.enabled = true

params {
  input_files_list = false
  tool = "samtools,sambamba"
}

process {

  withName: samtools_merge_bams {
    container = "lifebitai/samtools:latest"
    errorStrategy = 'ignore'
  }
  withName: sambamba_merge_bams {
    container = "btrspg/sambamba:0.6.9-v1.0.1dev-prd"
    errorStrategy = 'ignore'
  }
}
