docker.enabled = true

params {
  input_files_list = false
  tool = "samtools,sambamba"
}

process {
  cpus = 1
  memory = "1.GB"

  withName: samtools_merge_bams {
    container = "lifebitai/samtools:latest"
  }
  withName: samabamba_merge_bams {
    container = "btrspg/sambamba:0.6.9-v1.0.1dev-prd"
  }
}
